# npm configuration file
# https://docs.npmjs.com/misc/config

# Use npm workspaces
workspaces = true

# Save exact versions
save-exact = true

# Progress bar
progress = true

# Log level
loglevel = notice

# Registry
registry = https://registry.npmjs.org/